<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duo.mapper.ArticleMapper">

    <update id="updateViewCountById">
        UPDATE duo_article
        SET view_count = #{viewCount}
        WHERE id = #{id}
    </update>

</mapper>
